!!!
%html
  %head
    %title simplestyle_7
    %meta{:content => "website description", :name => "description"}/
    %meta{:content => "website keywords, website keywords", :name => "keywords"}/
    %meta{:content => "text/html; charset=windows-1252", "http-equiv" => "content-type"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Tangerine&v1", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #main
      #header
        #logo
          %h1
            simplestyle
            %a{:href => "#"} _7
          .slogan Cool slogan goes here!
        #menubar
          %ul#menu
            / put class="current" in the li tag for the selected page - to highlight which page you're on
            %li.current
              %a{:href => "index.html"} Home
            %li
              %a{:href => "examples.html"} Examples
            %li
              %a{:href => "page.html"} A Page
            %li
              %a{:href => "another_page.html"} Another Page
            %li
              %a{:href => "contact.html"} Contact Us
      #site_content
        #sidebar_container
          %img.paperclip{:alt => "paperclip", :src => "style/paperclip.png"}/
          .sidebar
            / insert your sidebar items here
            %h3 Latest News
            %h4 What's the News?
            %h5 1st July 2011
            %p
              Put your latest news item here, or anything else you would like in the sidebar!
              %br/
              %a{:href => "#"} Read more
          %img.paperclip{:alt => "paperclip", :src => "style/paperclip.png"}/
          .sidebar
            %h3 Newsletter
            %p If you would like to receive our newletter, please enter your email address and click 'Subscribe'.
            %form#subscribe{:action => "#", :method => "post"}
              %p{:style => "padding: 0 0 9px 0;"}
                %input.search{:name => "email_address", :onclick => "javascript: document.forms['subscribe'].email_address.value=''", :type => "text", :value => "your email address"}/
              %p
                %input.subscribe{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
          %img.paperclip{:alt => "paperclip", :src => "style/paperclip.png"}/
          .sidebar
            %h3 Latest Blog
            %h4 Website Goes Live
            %h5 1st July 2011
            %p
              We have just launched our new website. Take a look around, we'd love to know what you think.....
              %br/
              %a{:href => "#"} read more
        #content
          / insert the page content here
          %h1 Welcome to the simplestyle_7 template
          %p
            This standards compliant, simple, fixed width website template is released as an 'open source' design (under a
            = succeed ")," do
              %a{:href => "http://creativecommons.org/licenses/by/3.0"} Creative Commons Attribution 3.0 Licence
            which means that you are free to download and use it for anything you want (including modifying and amending it). All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but other than that...
          %p
            This template is written entirely in
            %strong HTML5
            and
            = succeed "," do
              %strong CSS
            and can be validated using the links in the footer.
          %p
            You can view more free HTML5 web templates
            = succeed "." do
              %a{:href => "http://www.html5webtemplates.co.uk"} here
          %p
            This template is a fully functional 5 page website, with an
            %a{:href => "examples.html"} examples
            page that gives examples of all the styles available with this design.
          %h2 Browser Compatibility
          %p This template has been tested in the following browsers:
          %ul
            %li Internet Explorer 8
            %li Internet Explorer 7
            %li FireFox 3.5
            %li Google Chrome 6
            %li Safari 4
      #footer
        %p
          Copyright c simplestyle_7 |
          %a{:href => "http://validator.w3.org/check?uri=referer"} HTML5
          |
          %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"} CSS
          |
          %a{:href => "http://www.html5webtemplates.co.uk"} design from HTML5webtemplates.co.uk
