!!!
%html
  %head
    %title simplestyle_7
    %meta{:content => "website description", :name => "description"}/
    %meta{:content => "nanoc 3.1.6", :name => "generator"}/
    %meta{:content => "website keywords, website keywords", :name => "keywords"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Tangerine&v1", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/style/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #main
      #header
        #logo
          %h1
            simplestyle
            %a{:href => "#"} _7
          .slogan Cool slogan goes here!
        #menubar
          %ul#menu
            / put class="current" in the li tag for the selected page - to highlight which page you're on
            %li.current
              %a{:href => "/index.html"} Home
            %li
              %a{:href => "examples.html"} Examples
            %li
              %a{:href => "page.html"} A Page
            %li
              %a{:href => "another_page.html"} Another Page
            %li
              %a{:href => "contact.html"} Contact Us
      #site_content
        #sidebar_container
          %img.paperclip{:alt => "paperclip", :src => "/style/paperclip.png"}/
          .sidebar
            = render('_article_list')
          %img.paperclip{:alt => "paperclip", :src => "/style/paperclip.png"}/
          .sidebar
            %h3 Newsletter
            %p If you would like to receive our newletter, please enter your email address and click 'Subscribe'.
            %form#subscribe{:action => "#", :method => "post"}
              %p{:style => "padding: 0 0 9px 0;"}
                %input.search{:name => "email_address", :onclick => "javascript: document.forms['subscribe'].email_address.value=''", :type => "text", :value => "your email address"}/
              %p
                %input.subscribe{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
          %img.paperclip{:alt => "paperclip", :src => "/style/paperclip.png"}/
          .sidebar
            %h3 Latest Blog
            %h4 Website Goes Live
            %h5 1st July 2011
            %p
              We have just launched our new website. Take a look around, we'd love to know what you think.....
              %br/
              %a{:href => "#"} read more
        #content
          / insert the page content here
          = yield
      #footer
        %p
          Copyright c simplestyle_7 |
          %a{:href => "http://validator.w3.org/check?uri=referer"} HTML5
          |
          %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"} CSS
          |
          %a{:href => "http://www.html5webtemplates.co.uk"} design from HTML5webtemplates.co.uk
